version: '2'
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: 'confsinfo'
  web:
    build: .
    command: sh -c 'stack build && stack exec confsinfo-backend-exe'
    volumes:
      - .:/var/confsinfo
    ports:
      - "3000:3000"
    depends_on:
      - db
